html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #BD8D74;
}

h1 {
  font-size: 50px;
  color: white;
  padding: 20px 0px;
  width: 100%;
  text-align: center;
  background: linear-gradient(to top, #D1B09E, #52007A, #D1B09E);
}

h2 {
  text-align: center;
}

h4 {
  font-size: 50px;
  text-align: center;
  margin: 0 0 20px 0;
  padding: 20px;
}

.main-outer {

    background-color: #D1B09E;
    border: 3px dashed rgba(255,255,255,0.2);
    border-radius: 10px;

    /* display in center of page */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 620px;
    width: 500px;
  
}

.game-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  /* for positioning of selection and start button   */
  position: relative;
  height: 600px;

}


/* this is for the X */
.cross {
  position: relative;
  width: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.cross-span {
 /* display: block;
  width: 105px;
  height: 12px;*/ 
  border-radius: 5px;
  background-color: green; 
  width: 105px;
  position: absolute;
  height: 12px;
  width: 90%;
  top: 45%;
  transform-origin: center center;
}

.cross-span:first-child {
  transform: rotate(45deg);
}
  
.cross-span:last-child {
  transform: rotate(-45deg);
}


/* for the circle */
.circle {

  width: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.circle span {
  border: 10px solid orange;
  border-radius: 65px;
  display: inline-block;
  height: 60px;
  width: 60px;
}


.selection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;

}

.description {
  text-align: center;
}


/* otherwise not in center compared to O 
.selection .cross {
  margin-right: 20px;
  margin-top: 22px;
}
*/

/* this is so the whole cross is a pointer */
.selection *:hover {
  cursor: pointer;
}

/* need this so both bars are highlighted at the same time */
.selection .cross:hover > .cross-span{
  background-color: black;
}

/* hover highlight for cicle */
.selection .circle span:hover {
  border: 10px solid black;
}


.button {

  background-color: #6D00A3;
  color: white;
  cursor: pointer;

  font-weight: bold;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0, 0.75);
/*
  position: absolute;
  bottom: 30px;

  right: 0;

  left: 50%;
  transform: translateX(-50%); */
  width: fit-content;
  padding: 15px 20px;

  text-align: center;
  margin-bottom: 40px;

}

.main-game {
    /* place children in center of page */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D1B09E;
    border-radius: 10px;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
/*
    grid-template-areas:
    "cell1 cell2 cell3"
    "cell4 cell5 cell6"
    "cell7 cell8 cell9";
*/
    border-collapse: collapse;
    width: 400px;
    height: 400px;

    margin: 20px 0px;

    position: relative;
    border: 20x solid red;

}

.base-child {
    border: 2px solid black; 
    
    display: flex;
    align-items: center;
    justify-content: center;
  }


.base-child:hover,
.base-child.active {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0, 0.75);
}  

  
/* remove top border */
.base-child:nth-child(-n+3){
    border-top: none;
}

/* remove right border */
.base-child:nth-child(3n){
    border-right: none;
}

/* remove bottom border */
.base-child:nth-child(n+7){
    border-bottom: none;
}

/* remove left border */
.base-child:nth-child(3n+1) {
    border-left: none;
}

.scoreboard {
  background: linear-gradient(to left,  #52007A, #D1B09E, #52007A);
  box-shadow: 0px 0px 10px 2px rgba(82,0,122, 0.75);
  margin: 20px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;

}

.score-section {
  padding: 10px;
  margin: 20px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0, 0.75);
  background-color: #D1B09E;
  border-radius: 5px;
}


.score-section h3 {
  margin:0;
  font-size: 30px;
  border-bottom: 2px dashed black;
}

.score {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

/* page initialises with icons hidden */ 
.hidden {
    display: none;
}

/* results div */
.endgame {

  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  /*
  width: 200px;
  height: 385px;
  
  
  top: 20px;
  left: 50px;

  margin: 0 auto;
  /*
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-color: rgba(255,153,253, 0.8);
  border-radius: 5px;
  border: 3px dashed rgba(255,255,255,0.2);

}

.endgame-buttons {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin:0;
  padding:0;
}


.winning-line {
  /*width: 10px;
  height: 10px;*/
  position: absolute;
  z-index: 1;

  /*
  background-color: red;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
*/
}
